.DS_Store
logs
target
docs
/conf/generated.keystore
/conf/data/*.json
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/public/node_modules
*~
#*
*#
public/package-lock.json
public/javascripts
public/yarn.lock
