.map-marker {
    border-radius: 5px;
    box-shadow: 5px 7px 13px #80808070;
    transition: 1s all;
    position: absolute;
    cursor: pointer;
    padding: 14px 4px;
    background: white;    
}
.map-marker a {
  text-decoration: none;
}

.map-marker:hover {
  background: #F44336;
  color: white;
}
.map-marker:hover a {
  color: #fff;
  text-decoration: none;
}
.map-marker-overview {
  width: 100px;
  height: 20px;
  background: #fff;
  margin-top: -52px;
  position: absolute;
  padding: 7px 5px;
  border: solid 2px #808080;
}
