@(title: String)(headerContent: Html)(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@title</title>

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link
      rel="shortcut icon"
      type="image/png"
      href="@routes.Assets.versioned("images/favicon.png")"
    >
    @headerContent
  </head>
  <body>
    @content
    <div id="aurita-app" />
    <script type="text/javascript" src="/bundles/bundle.js" charset="utf-8"></script>
  </body>
</html>
