.container-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url('/assets/images/authorise_bg.jpg');

    &:before {
      content: "";
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(rgba(57, 43, 149, .7), rgba(159, 87, 187, 1));
      filter: blur(5px);
    }
}

.dashboard {
    width: 100vw;
    height: 100vh;
  }
  
  .dashboard__cards {
    display: flex;
    padding: 6%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .dashboard-cards__item {
    width: 32%;
    height: 200px;
    margin-top: 20px;
  }
  